.HeroBG-MyWork {
    background-color: #EFBDBD;
    padding: 60px;
    margin-top: 20px;
    z-index: 0;
  }

  .ProjectTitles {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    color: #643535;
    text-decoration: none;
  }

  .ProjectTitles:hover {
    font-weight: 900;
    text-decoration: none;
    color: #643535;

}

.ProjectTitles:link {
    text-decoration: none;
    color: #643535;
}