

.HeroBG-USSF {
    background-color: #EFBDBD;
    padding: 60px;
    margin-top: 20px;
    z-index: 0;
  }

  .responsiveUSSF {
    width: 100%;
    height: auto;
    margin-left: 90px;
    margin-top: -30px;
    border: 1px solid #EFBDBD;
  }

  @media screen and (min-width: 801px) {
    .responsiveUSSF {
        margin-left: 90px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .responsiveUSSF {
        margin-left: 40px;
    }
  }



  @media screen and (min-width: 1001px) {
    .WebProtoButton {
        margin-bottom: 0px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .WebProtoButton {
        margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 651px) {
    .WebProtoButton {
        height: 50px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .WebProtoButton {
        height: 100px;
    }
  }

  .cardTitle {
    text-align: left;
}


.cardText {
    text-align: left;
    display: inline-block;
}
