.HeroBG-Home {
  background-color: #EFBDBD;
  padding: 60px;
  margin-top: 20px;
  max-height: 420px;
  z-index: 0;
}

  @media screen and (min-width: 1001px) {
    .LgIMG {
        display: inline-block;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .LgIMG {
        display: none;
    }
  }


  @media screen and (min-width: 1001px) {
    .SmallIMG {
        display: none;

    }
  }
  
  @media screen and (max-width: 1000px) {
    .SmallIMG {
        display: inline-block;

    }
  }

.ProjectBox {
    background-color: #EFBDBD;
    padding: 30px;
    max-height: 600px;
    z-index: 0;
}


.projectTitle{
    color: #643535;
    text-align: left;
}

@media screen and (min-width: 801px) {
    h2 .projectTitle {
    font-size: 30px;    
    }
  }
  
  @media screen and (max-width: 800px) {
    h2 .projectTitle {
        font-size: 10px;    
    }
  }


  .responsive2 {
    width: 100%;
    height: auto;
    margin-left: -45px;
    border: 1px solid #EFBDBD;
  }

  .responsive3 {
    width: 100%;
    height: auto;
  }

  .responsive4 {
    width: 100%;
    height: auto;
    margin-left: 10px;
  }


  @media screen and (min-width: 801px) {
    .responsive4 {
        margin-left: 0px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .responsive4 {
        margin-left: 70px;
    }
  }

