/* Title */
.content {
    width: 800px;
    background-color: #EFBDBD;
    margin-bottom: 60px;
}

.heroText1 {
    color: #643535;
    padding-left: 60px;
}

.pageHeader1 {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* PROJECTS */
.myWork {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.projects {
    margin: 0 30px;
    width: 300px;
}

.projectIMG {
    height: 240px;
    width: 300px;
    /* border: 1px solid black; */
}

.titles{
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    color: #643535;
    margin-top: 5px;
    text-align: center;
}

/* Footer classes */

.icons {
    width: 100%;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    /* border: 3px solid green; */
}

.socialMedia {
    width: 30px;
    padding: 0 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    /* border: 2px solid white; */

}

.copyright {
    float: right;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #643535;
    width: 100%;
    /* border: 3px solid purple; */
}




